<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Mój profil</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>

<div th:include="layout :: navigationPanel" class="nav-container"></div>

<div class="container">
    <h1>Witaj!</h1>
    <h3 th:text="${user.name} + ' ' + ${user.surname}"></h3>
</div>

<div th:include="layout :: footer"></div>
</body>
</html>