<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rejestracja</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>

<div th:include="layout :: navigationPanel" class="nav-container"></div>

<div class="container">
    <h1>Rejestracja:</h1>
    <form th:action="@{/register}" method="POST" th:object="${user}">
        <div class="form-group">
            <input type="text" th:field="*{name}" placeholder="Imię"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></span>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{surname}" placeholder="Nazwisko"/>
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error-message"></span>
        </div>
        <div class="form-group">
            <input type="text" th:field="*{login}" placeholder="Login"/>
            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="error-message"></span>
        </div>
        <div class="form-group">
            <input type="password" th:field="*{password}" placeholder="Hasło"/>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></span>
        </div>
        <button type="submit">Zarejestruj się</button>
    </form>
</div>

<div th:include="layout :: footer"></div>

</body>
</html>
